<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187093378107-m8644bl53qbnvn10eo7m8qop97653ben.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187093378107-m8644bl53qbnvn10eo7m8qop97653ben</string>
	<key>API_KEY</key>
	<string>AIzaSyD9WAruS3ZnpufJECanMGkwcXt1ux2QKTc</string>
	<key>GCM_SENDER_ID</key>
	<string>187093378107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sianspike.Agendum</string>
	<key>PROJECT_ID</key>
	<string>agendum-df674</string>
	<key>STORAGE_BUCKET</key>
	<string>agendum-df674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187093378107:ios:b7c06b777da91088da681e</string>
	<key>DATABASE_URL</key>
	<string>https://agendum-df674.firebaseio.com</string>
</dict>
</plist>