Agendum.xcworkspace/xcshareddata/*
Agendum.xcworkspace/xcuserdata/*
.DS_Store
Agendum/.DS_Store
Agendum.xcodeproj/xcuserdata/*
Podfile.lock
Pods/Manifest.lock
Pods/Pods.xcodeproj/xcuserdata/*
/Agendum/Support Files/GoogleService-Info.plist